:root {
    --top-elements: #696d86;
    --faded-top-elements: rgba(105, 109, 134, 0.5);
    --less-faded-top-elements: rgba(105, 109, 134, 0.8);
    --main-bg: #e8e9ed;
    --accent-lighter: ;
    --accent: #83957e;
    --accent-darker: #626d5f;
    --main-font: #14151a;
    --alt-font: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

p {
    font-size: 1.2rem;
}

label {
    font-size: 1.2rem;
}

button {
    background-color: var(--accent);
    color: var(--alt-font);
    border: .1rem solid var(--top-elements);
    border-radius: .1rem;
}

button:hover {
    background-color: var(--accent-darker);    
}

button:disabled {
    background-color: var(--main-bg);
    color: var(--main-font);
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 7.5% 85% 7.5%;
}

header {
    z-index: 10;
    grid-column: span 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--top-elements);
    color: var(--alt-font);
    box-shadow: 0rem .5rem .2rem var(--top-elements);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
    background-color: var(--main-bg);
    color: var(--main-font);
    font-weight: bold;
}

.sbDiv {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    margin-bottom: 2rem;
    max-width: 80%;
}

.sbDiv > button {
    height: 3rem;
    margin: .3rem;
}

.sbDiv input {
    margin: .3rem;
    padding: .1rem .3rem;
    background-color: var(--main-bg);
    border: .1rem solid var(--top-elements);
}

.sbDiv input:hover {
    background-color: var(--faded-top-elements);
    color: var(--alt-font);
}

.sbDiv label {
    font-size: 1.4rem;
    margin: .3rem;
}

.sbTextDiv {
    justify-content: center;
    min-height: 5rem;
    margin-left: .3rem;
}

#strtBtn {
    box-shadow: inset -.2rem -.2rem var(--accent-darker);
    border: .15rem solid var(--top-elements);
}

#strtBtn:disabled {
    box-shadow: none;
    border: .1rem solid var(--top-elements);
}

#tokenSelectionDiv {
    display: flex;
}

.tokenSelectionBtn {
    width: 45%;
    height: 1.8rem;
    margin: .3rem;
}

main {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--main-bg);
}

#gameDisplay {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: stretch;
    gap: 1rem;
    width: 35%;
    height: 45%;
    background-color: var(--main-bg);
    margin-right: 11%;
}

#gameOverDisplay {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 45%;
    height: 55%;
    margin-right: 11%;
    background-color: var(--less-faded-top-elements);
    color: var(--alt-font);
    border: .3rem solid var(--top-elements);
    border-radius: .5rem;
}

#gameOverWinner {
    margin-top: 4rem;
}

#scoreHeader {
    margin-top: 2rem;
}

#gameOverTallyContainer {
    display: flex;
    margin-top: 2rem;
    width: 60%;
    justify-content: space-around;
    margin-left: 5%;
}

.individualTallyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameOverSelectionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
    padding: 0 5rem;
}

.gameOverSelectionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameOverSelectionButtonContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.5rem;
}

.gameOverSelectionButtonContainer button {
    padding: .2rem;
    margin: .1rem;
    height: 3rem;
    width: 7.5rem;
    border: .2rem solid var(--top-elements);
}

.gameOverButton:disabled {
    background: none;
}

#gameOverDisplay > button{
    margin-bottom: 4rem;
    margin-top: auto;
    padding: .2rem;
    width: 12rem;
    height: 3rem;
    border: .2rem solid var(--top-elements);
}

/* .allGameOverElements {
    background-color: var(--less-faded-top-elements);
    padding: .5rem;
} */

footer {
    grid-column: span 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg);
    white-space: pre;
}

footer a {
    font-size: 2.4rem;
    color: var(--accent-darker);
}

.gameTile {
    background-color: var(--main-bg);
    background-repeat: no-repeat;
    background-position: center;
}

.gameTileCross {
    background-image: url(assets/cross.svg);
    background-size: 10rem;
}

.gameTileNought {
    background-image: url(assets/nought.svg);
    background-size: 7.5rem;
}